
body {
    margin-top: 100px;
    padding: 10px;
    background-image: url('pp/pp1.jpg'); /* Path to your background image */
    background-size: cover;
    font-family: Arial, sans-serif;
}
.container {
    max-width: 500px;
    margin:  auto;
   
    border: 2px solid red;
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset; /* Apply box shadow inside the border */
    background-clip: padding-box; /* Clip the background to the padding box */
    backdrop-filter: blur(35px); /* Apply blur effect */
}
.form {
    width: 50%;
}

h1 {
    text-align: center;
    color: rgb(223, 4, 22);
}

h5 {
    text-align: center;
    color: rgb(239, 167, 73);
}

h2 {
    text-align: center;
    color: #3a065e;
}

/* Legend styling */
.legend {
    color: #94d7ee;
}

/* Input field styling */
.input {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #a10c0c;
    border-radius: 20px;
    box-sizing: border-box;
}

.input:hover {
    background-color: #e080ec;
}

/* Button styling */
.submit-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #218838;
}

/* Footer styling */
footer {
    color: aqua;
    position: fixed;
    bottom: 0;
    width: 97%;
    background-color: #151414;
    padding: 0;
    text-align: center;
}
