
body {
    margin-top: 100px;
    padding: 10px;
    background-image: url('pp/pro.jpg'); /* Path to your background image */
    background-size: cover;
    font-family: Arial, sans-serif;
}
.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

input[type="text"],
input[type="number"],
button {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    color: aqua;
    position: fixed;
    bottom: 0;
    width: 97%;
    background-color: #151414;
    padding: 0;
    text-align: center;
}
