body {
    margin-top: 100px;
    
    padding: 10px;
    background-image: url('pp/pp1.jpg'); /* Path to your background image */
    background-size: cover;
    
    font-family: Arial, sans-serif;
}

.container {
    max-width: 500px;
    margin:  auto;
   
    border: 2px solid red;
    
    border-radius: 175px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset; /* Apply box shadow inside the border */
    background-clip: padding-box; /* Clip the background to the padding box */
    backdrop-filter: blur(35px); /* Apply blur effect */
}
.border {
    max-width: 500px;
    margin:  auto;
    margin-left: 1%;
    margin-right: 1%;
    border: 2px solid rgb(195, 17, 183);
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset; /* Apply box shadow inside the border */
    background-clip: padding-box; /* Clip the background to the padding box */
    backdrop-filter: blur(35px); /* Apply blur effect */
}


.container h1 {
    text-align: center;
    color: rgb(223, 4, 22);
    font-size: 36px;
}

.container h5 {
    text-align: center;
    color: rgb(239, 167, 73);
    font-size: 18px;
}

.container form {
    text-align: center;
    color: #94d7ee;
}

.container fieldset {
    margin-bottom: 10px;
    
}

.container input[type="text"],
.container input[type="password"] {
    color: #007bff;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.container input[type="submit"] {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #6be99d;  /* button */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container input[type="submit"]:hover {
    background-color: #0056b3;
}

.container input[type="text"]:hover {
    background-color: #e080ec;
}

.container input[type="password"]:hover {
    background-color: #ef62c4;
}



.forgetpass-link {
    color: rgb(250, 6, 6); /* Change color for the forgetpass link */
}

.signup-link {
    color: rgb(122, 231, 122); /* Change color for the signup link */
}

footer {
    color: aqua;
    position: fixed;
    bottom: 0;
    width: 97%;
    background-color: #151414;
    padding: 0;
    text-align: center;
}


