<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link rel="stylesheet" href="external.css">
    <style>
        footer {
            background-color: #020202;
            color: white;
            
        }
        footer ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        footer ul li {
            display: inline;
            margin-left: 50px;
        }
        footer a {
            color: white;
            text-decoration: none;
            
        }
        footer p {
            color: white;
        }
    </style>
</head>
<body>

<footer >
    <br>
    <center>
        <div>
            <h3>CONTACT US</h3>
            <p>📍 XY Banking, Motijheel, Dhaka</p>
            <p>☎️ Phone: +880-255665001-6</p>
            <p>✉️ E-mail: xybanking@bb.org.bd</p>
        </div>
        
        <div>
            <h3>STAY CONNECTED</h3>
            <img src="stayConnected.png" alt="Stay Connected logo" style="height: 50px; width: 90; margin-right: 10px;">
        </div>

    
        <ul>
            <li><a href="terms.html">Terms of Service</a></li>
            <li><a href="privacy.html">Privacy Policy</a></li>
            <li><a href="sitemap.html">Sitemap</a></li>
            <li><a href="feedback.html">Feedback</a></li>
        </ul>
        <p>Copyright &copy; 2025</p>
    </center>
    <br>
</footer>

</body>
</html>
