<header style="background-color: #c0d0fb; padding: 30px; margin: 0px; width: 100%; height: 110px;">
    <center>
        
        <img src="xy.png" alt="XY Banking Logo" style="height: 60px; width: 60px; margin-right: 10px;">
        <div style="display: inline-block; text-align: left;">
            <h1 style="font-size: 50px; color: #031e44; margin: 0;">XY Banking</h1>
            <p style="font-size: 14px; color: #666; margin: 0;">Empowering Your Financial Journey</p>
        </div>
    </center>
</header>
