<link rel="stylesheet" type="text/css" href="external.css">

<div style="background-color: #98b2f9;">
    <center>
        <table>
            <tr>
                <td><a href="Home.php">Home</a></td>
                <td><a href="">About</a></td>
                <td><a href="">Monetary Policy</a></td>
                <td><a href="">Financial System</a></td>
                <td><a href="">Other Services</a></td>
            </tr>
            <tr>
                <td><br></td>
           </tr>
        </table>
    </center>
</div>
