<link rel="stylesheet" type="text/css" href="external.css">

<div class="nav-container" style="background-color: #242137">
    <navigation>
        <a href="employee_dashboard.php" class="nav-btn <?php if(basename($_SERVER['PHP_SELF']) == 'employee_dashboard.php') echo 'active'; ?>">Dashboard  |</a>
        <a href="updateProfile.php" class="nav-btn <?php if(basename($_SERVER['PHP_SELF']) == 'updateProfile.php') echo 'active'; ?>">Profile Management  |</a>
        <a href="account_management.php" class="nav-btn <?php if(basename($_SERVER['PHP_SELF']) == 'account_management.php') echo 'active'; ?>">Account Management  |</a>
        <a href="transaction_processing.php" class="nav-btn <?php if(basename($_SERVER['PHP_SELF']) == 'transaction_processing.php') echo 'active'; ?>">Transaction Processing  |</a>
        <a href="loan_processing.php" class="nav-btn <?php if(basename($_SERVER['PHP_SELF']) == 'loan_processing.php') echo 'active'; ?>">Loan Processing  |</a>
        <a href="appointment.php" class="nav-btn <?php if(basename($_SERVER['PHP_SELF']) == 'schedule_appointed.php') echo 'active'; ?>">Schedule Appointment  |</a>
        <a href="alerts_history.php" class="nav-btn <?php if(basename($_SERVER['PHP_SELF']) == 'alerts_history.php') echo 'active'; ?>">Set Alerts & History Retrieval</a>
    </navigation>
</div>