<link rel="stylesheet" type="text/css" href="external.css">

<div class="nav-container" style="background-color: #242137">
    <navigation>
        <a href="employee_dashboard.php" class="nav-btn <?php if(basename($_SERVER['PHP_SELF']) == 'employee_dashboard.php') echo 'active'; ?>">Dashboard  |</a>
        <a href="updateProfile.php" class="nav-btn <?php if(basename($_SERVER['PHP_SELF']) == 'updateProfile.php') echo 'active'; ?>">Profile Management  |</a>
        <a href="account_management.php" class="nav-btn <?php if(basename($_SERVER['PHP_SELF']) == 'account_management.php') echo 'active'; ?>">Account Management  |</a>
        <a href="WithdrawDeposit.php" class="nav-btn <?php if(basename($_SERVER['PHP_SELF']) == 'WithdrawDeposit.php') echo 'active'; ?>">Transaction Processing  |</a>
        <a href="loan.php" class="nav-btn <?php if(basename($_SERVER['PHP_SELF']) == 'loan.php') echo 'active'; ?>">Loan Processing  |</a>
        <a href="appointment.php" class="nav-btn <?php if(basename($_SERVER['PHP_SELF']) == 'appointment.php') echo 'active'; ?>">Schedule Appointment  |</a>
        <a href="alert.php" class="nav-btn <?php if(basename($_SERVER['PHP_SELF']) == 'alert.php') echo 'active'; ?>">Set Alert</a>
    </navigation>
</div>